@model DieffeClean.Presentation.Model.Staff.NewStaffViewModel

@{
    ViewData["Title"] = "Imformazioni impresa pulizie";
}

<div class="header pb-6 d-flex align-items-center bg-dieffe" style="min-height: 150px; ">
<!-- Mask -->
    <span class="mask  opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
    <div class="row">
        <div style="position: relative; left: 5%;">
        <h2 style="color: white;">Info impresa pulizie</h2>
        </div>
    </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8-a">
            <div class="card">
            <form method="post">
                <div class="card-header">
                    <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Info impresa pulizie</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="submit" class="btn btn-sm btn-dieffe">Modifica</button>
                    </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Dati impresa pulizie</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Username</label>
                                    <input asp-for="Staff.UserName" type="string"  id="input-username" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email</label>
                                    <input asp-for="Staff.Email" type="string" id="input-email" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-apartament">Appartamenti associati</label>
                                    <div style="max-height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px; border-radius:  4px;">
                                        @foreach (var staff in Model.Staff.UserApartments)
                                        {
                                            <div class="form-check">
                                                <label class="form-check-label" style="cursor: pointer;" for="apartment-@staff.Apartment.Id">@staff.Apartment.Name</label>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
